:root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

	color: #ffffff;
	background-color: #1FA49F;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	margin: 0;
	min-width: 320px;
	min-height: 100vh;
}

h1 {
	font-size: 4rem;
	font-weight: 900;
	color: rgba(255, 255, 255, 0.8);
}

button {
	cursor: pointer;
	outline: none;
}

.content {
	/* background: rgb(31, 214, 98); */
	height: 90vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.fact-container {
	background: rgba(0, 0, 0, 0.2);
	width: 90%;
	padding: 1rem;
	border-radius: 12px;
	font-size: 2rem;
	font-weight: 500;
}

.btn {
	background: #F59C04;
	padding: 1rem 3rem;
	margin-top: 200px;
	border-radius: 5px;

	display: inline-block;
	position: relative;
	top: 0;

	font-size: 1rem;
	font-weight: 800;
	color: #5b3417;
	cursor: pointer;
	transition: all .2s;

	box-shadow: 0 7px 0 #a56c0a;
	-webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.btn:hover {
	background: #f09903;
	top: 2px;
	box-shadow: 0 5px 0 #a56c0a;
}

.btn:active {
	top: 5px;
	box-shadow: 0 2px 0 #a56c0a;
}

/* Mobile */
@media (max-width: 768px) {
	.fact-container {
		width: 80%;
	}

	h1 {
		font-size: 3rem;
	}
}

/* Mobile */
@media (max-width: 400px) {
	h1 {
		font-size: 2rem;
	}
}