html {
	background: rgb(7, 104, 96) linear-gradient(-25deg, rgb(7, 104, 96) 0%, rgb(13, 206, 190) 70%);
	color: white;
	font-family: "Inter", sans-serif, system-ui;
	text-transform: lowercase;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body, #root {
	height: 100vh;
	margin: 0;
	overflow: hidden;
}

.container {
	height: 95%;
	width: calc(100% - 40px);
	max-width: 1200px;
	padding: 0 20px;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

header {
	width: 100%;
	padding: 32px 0;
	display: flex;
	gap: 20px;
}

header img {
	height: 56px;
	width: 56px;
}

header div {
	font-size: 40px;
	font-weight: 800;
	text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}

main {
	width: 90%;
	max-width: 800px;

	min-height: 300px;
	text-align: center;

	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: center;
	gap: 32px;
}

main .title {
	font-size: 36px;
	font-weight: 800;
}

main hr {
	background: rgba(255, 255, 255, 0.4);
	width: 80%;
	max-width: 400px;
	height: 4px;
	border: none;
	border-radius: 100px;
}

main .text {
	font-size: 28px;
	font-weight: 500;
}

.buttons {
	display: flex;
	flex-direction: column;
	justify-self: center;
	align-items: center;
	gap: 32px;
	min-height: 200px;
}

button {
	border: none;
	background: none;
	border-radius: 100px;
	cursor: pointer;
	-webkit-user-select: none;
	user-select: none;
	font-weight: 600;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 200ms ease;
}

.buttons .new {
	background: rgba(255, 255, 255, 0.2);
	height: 75px;
	width: 280px;
	color: white;
	font-size: 24px;
}

.buttons .new:active {
	background: rgba(255, 255, 255, 0.15);
}

.buttons .previous {
	color: rgba(255, 255, 255, 0.6);
	font-size: 20px;
}

.buttons .previous:active {
	color: rgba(255, 255, 255, 0.9);
}


/* Tablet */
@media (max-width: 768px) {
	header {
		padding: 24px;
		gap: 20px;
	}

	header img {
		height: 40px;
		width: 40px;
	}

	header div {
		font-size: 28px;
	}

	.content hr {
		width: 300px;
	}

}